// CSS Reset

*, *::before, *::after{
    box-sizing: border-box;
    
}

*{
    margin: 0;
}

// reset text unit to rem for better responsiveness
html{
    font-size: 62.5%; /*62.5% of 16px = 10px. So 1rem = 10px*/
}

body{
    line-height: 1.5;
    -webkit-font-smoothing: antialiased; //improve text rendering
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

// improve media defaults
img, picture,svg, video, canvas{
    display: block;
    max-width: 100%;
}

// inherit fonts for FORM controls
input, button, textarea, select {
    font: inherit;
}

// avoid text overflows
p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6{
    text-wrap: balance;
}

// create a root stacking context
#root, #__next{
    isolation: isolate;
}

// VARIABLES
$light-grey:#526D82;
$dark-grey:#27374D;
$ts:all 0.4s;

// STYLING
.main-wrapper{
    display: grid;
    grid-template-columns: 6rem 30rem 1fr;
    grid-template-rows: 5rem 1fr;
    align-items: center;
}

// header
.header{
    grid-column: 1 / 4;
    grid-row: 1/2;
    background-color: #F8FAFC;
    border-bottom: 1px solid rgba(#a0c0e6, 0.8);
    height: 100%;
    padding: 0 1.2rem;
    position: relative;
    color: $light-grey;

    &__navigation{
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5rem;
        padding: 0;
    }

    &__search{
        width: 45rem;
        position: absolute;
        left: 44rem;
        top: 1.2rem;
        border-radius: 50rem;
        border-color: rgba(#a0c0e6, 8);
        font-size:1.4rem;

        &:focus{
            border-color: rgba(#5b81b1, 0.8);
    }
    }

    &__group_icon{
        margin-right: auto;
    }

    &__three_dots_icon{
        margin-left:auto;
        padding-right: 2rem;
        font-size: 1.5rem;
    }
   
    &__left_icon{
        position: absolute;
        left: 36rem;
    }
    &__right_icon{
        position: absolute;
        left: 40rem;
    }
}


// side menu
.side-menu{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: #F8FAFC;
    border-right: 1px solid rgba(#D9EAFD, 0.8);
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    color: $light-grey;
    transition: $ts;

    &__icon{
        width: 5rem;
        height: 5rem;
        margin-bottom: 0.5rem;
        padding-top: 0.5rem;
        text-align: center;
        
        
        &:hover{
            background-color: rgba($color: #a0c0e6, $alpha: 0.4);
            color: #16457e;
        }
    }
}

.svg_icon{
    margin-right: auto;
    margin-left: auto;
}

.svg_icon:hover{
    color: #16457e;
    
}

// side bar
.side-bar{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #f3f3f3;
    border-left: 1px solid rgba(#D9EAFD, 0.8);
    height: calc(100vh - 50px);
    overflow: auto;
    transition: $ts;

    &__header{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgba(#c5d1df, 0.8);
        padding: 1rem;
    }

    &__heading{
        font-size: 1.5rem;
        font-weight: 800;
    }

    &__header-list{
        margin-left: auto;
        list-style-type: none;
        display: flex;
        gap: 0.7rem;
    }

    &__chat{
        display: grid;
        grid-template-columns: 4em 1fr 2em;
        grid-template-rows: 1fr 1fr;
        align-content: space-between;
        padding: 1rem;
        &:hover, :focus{
            background-color: #f3eaea;
        }
    }

    &__user_img{
        height: 3rem;
        width: 3rem;
        object-fit: cover;
        border-radius: 50%;
        grid-row: 1 / 3;
        grid-column: 1 / 2;
    }

    &__user_name{
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }

    &__chat-initial{
        grid-row: 2 / 3;
        grid-column: 2 / 3;
    }

    &__date{
        grid-row: 1 / 3;
        grid-column: 3 / 4;
    }
  
}



// chat box
.chat-box{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    background-color: #e6ebf0;  
    height: calc(100vh - 50px);
}