// CSS Reset

*, *::before, *::after{
    box-sizing: border-box;
    
}

*{
    margin: 0;
}

body{
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

// improve media defaults
img, picture,svg, video, canvas{
    display: block;
    max-width: 100%;
}

// inherit fonts for FORM controls
input, button, textarea, select {
    font: inherit;
}

// avoid text overflows
p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6{
    text-wrap: balance;
}

// create a root stacking context
#root, #__next{
    isolation: isolate;
}